<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DMSkin.SoftHide.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DMSkin.SoftHide.Properties.Settings>
            <setting name="SoftKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelfKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoftKeyStr" serializeAs="String">
                <value />
            </setting>
            <setting name="SelfKeyStr" serializeAs="String">
                <value />
            </setting>
        </DMSkin.SoftHide.Properties.Settings>
    </userSettings>
</configuration>